body {
    text-align: center;
    background-color: #1C1A1A;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
}

section {
    margin-top: 4rem;
    height: 100vh;
}

h1 {
    font-size: 30px;
    color: black;
}

#profile {
    position: block;
    height: 199px;
    align-content: center;
    border-radius: 140px;
}

.center {
    margin-top: 10rem;
}

#name {
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

#bio {
    font-size: 15px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 5rem;
}

#container-bio {
    width: 80%;
    margin: auto;
}

#contact {
    text-align: center;
}

.iconBio {
    color: #E5E5E5;
    text-decoration: none;
    display: -webkit-inline-box;
    flex-direction: row;
    flex-wrap: wrap;
}

.iconBio:hover {
    text-decoration: none;
}

#languages {
    margin-top: -2rem;
    text-align: right;
    margin-right: 5rem;
}

.btnLanguage {
    color: #E5E5E5;
    background-color: transparent;
    border: #E5E5E5 1px solid;
    padding: 10px;
    margin: 5px;
}

.skill {
    margin: auto;
}

#allProjects {
    margin: 15px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    flex-flow: ;
}

#project {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #E5E5E5;
    border: #E5E5E5 1px solid;
    border-radius: 4px;
    width: 300px;
    height: auto;
    padding: 10px 0;
}

#language {
    border: #E5E5E5 1px solid;
    border-radius: 4px;
    padding: 0 5px;
    width: fit-content;
    margin: auto;
}

#description {
    margin: 10px 10px;
    text-align: center;
}

#projectTitle{
    font-size: 22px;
    font-weight: bold;
}