body {
    text-align: center;
    background-color: #1C1A1A;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    
}

section {
    margin-top: 4rem;
    height: 100vh;
}

h1 {
    font-size: 30px;
    color: black;
}

#profile {
    position: block;
    height: 199px;
    align-content: center;
    border-radius: 140px;
    
}

.center {
    margin-top: 10rem;
}

#name {
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

#bio {
    font-size: 15px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 5rem;
    margin: auto;
}

#container-bio {
    width: 80%;
    margin: auto;
    
}

#contact {
    text-align: center;
    margin-top: 81px;
}

.iconBio {
    color: #E5E5E5;
    text-decoration: none;
    display: -webkit-inline-box;
    flex-direction: row;
    flex-wrap: wrap;
    transition: color 0.10s;
}

.iconBio:hover {
    color: rgba(229,229,229,0.3);
    text-decoration: none;
}

#languages {
    margin-top: -2rem;
    text-align: right;
    margin-right: 5rem;
}

.btnLanguage {
    color: #E5E5E5;
    background-color: transparent;
    border: #E5E5E5 1px solid;
    padding: 10px;
    margin: 5px;
}

.skill {
    margin: auto;
    height: 350px;
}

#allProjects {
    margin: 100px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px ;
}

.repoUrl {
    color: #E5E5E5;
    text-decoration: none;
    transition: color 0.10s;
}

.repoUrl:hover {
    text-decoration: none;
    color: rgba(229,229,229,0.3);
}

.project {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #E5E5E5;
    border: #E5E5E5 1px solid;
    border-radius: 4px;
    width: 300px;
    padding: 10px 0;
    height: 100%;
}

#language {
    border: #E5E5E5 1px solid;
    border-radius: 4px;
    padding: 0 5px;
    margin-bottom: 0;
    width: fit-content;
    margin: auto;
}

#description {
    min-height: 100px;
    margin: 10px 10px;
    text-align: center;
}

#projectTitle{
    font-size: 14px;
    font-weight: bold;
}

@media(max-width:930px){

   #allProjects {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
   }

   #skills {
        margin-top: 200px;
   }

   .project{
       margin-bottom: 30px;
   }

   .skill {
       height: 100px;
   }

   #contact {
        margin-top: 30px;
        display: flex;
        flex-flow: column;
        align-items: center;
   }

   #languages {
        margin-bottom: 23px;


   }

}
