body{
    font-family: 'Quicksand', sans-serif;
    background-color: aqua;
    color: white;
    margin:0;
    font-size: 16pt;
    
}

div#background{
    display: block;
    background-repeat: no-repeat;
    background-image: url(./background-image/diego-ph-5LOhydOtTKU-unsplash.jpg);
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    overflow: auto;
    background-size: cover;
    padding: 3em;
    height: auto;
    margin: 0 auto;
}

.container img{
    width: 100%;
    max-width: 200px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius:50px;
}

div.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container figure{
    margin: 0 auto;
 
}

section{
  
}

div.list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.list ul{
    margin: 0 auto;
}

.list h2{
    
    display: flex;
    flex-flow: column;
    flex-direction: column;
    text-align: center;
}

.list li{
    display: flex;
    flex-flow: column;
    flex-direction: column;
    text-align: center;
    padding: 2px;
}

div.social{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a{
    align-self: center;
    color: white;
}
.social i{
    padding: 5px;
    text-align: center;
    
    
}


