body{
    font-family: 'Quicksand', sans-serif;
    background-color: aqua;
    color: white;
    margin:0;
    font-size: 16pt;
    
}

div#background{
    display: block;
    background-repeat: no-repeat;
    background-image: url(./background-image/img-leve.jpg);
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    overflow: auto;
    background-size: cover;
    padding: 3em;
    height: auto;
    margin: 0 auto;
}

.container img{
    max-width: 200px;
    max-height: 400px;
    border-radius:10%;
}

div.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.container figure{
    margin: 0 auto;
    
}


div.social{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a{
    align-self: center;
    color: white;
}
.social i{
    padding: 25px;
    text-align: center;
    
}

h1 h2 h3 h4{
    display: block;
}

h4{
    margin: 1%;
}

footer{
    bottom: 90%;
    text-align: center;
}

h2{
    margin: 5px;
}


