#navbar{
    width: 100%;
    background-color: cyan;
    color: #000;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.icon{
    align-self: center;
    margin-right: -10px;
}

.MuiTabs-flexContainer{
    place-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}