
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
 body, html, #root{
   height: 150%;
 }

 body{
   background: #94e6ff;
 }
 body, input, button{
  font-family: Arial, Helvetica, sans-serif;
}