.main-container{
    width: 100%;
    text-align: center;
}

.main-container .avatar img{
    position: flex;
    width: 15%;
    height: 15%;

}

.main-container  ul li{
    
    position: flex;
    flex-direction: row;
    text-decoration: none;
}